.about {
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 140px
}

#please-note p{
    color: red;
    font-style: italic
}

.about ul {
    list-style-type: circle
}

@media screen and (max-width: 850px) {
    .about {
        overflow: scroll;
    }
  
}