html {
  background-color: #FAFAFA;
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto"; 
  font-size: 20px;
  color: #444;
}

.App {
  text-align: center;
}

section {
  min-height: 200px;
  padding: 3% 0;
}

.logo img {
  cursor: pointer;
}
.btn-green {
  background-color: #1ab81a
}
button {
  color: #FAFAFA;
}
.btn-red {
  background-color: red;
}
.btn-blue {
  background-color: #46b0f0;
}
.btn-gray {
  background-color: #293035;
}
.login-page {
  padding-top: 140px;
}
.dashboard-username {
  margin-bottom: 0px
}
.not-found {
  position: fixed;
  top: 30%;
  margin: auto;
  width: 100%
}

/* BASE classes */
.align-left {
  text-align: left;
}
.br-yellow {
  background-color: #fdff66;
  color: #444;
}
.italic {
  font-style: italic;
}
.text-sm {
  font-size: .8em
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@import url('https://fonts.googleapis.com/css?family=Roboto');