.stack-confirm {
    padding: 30px;
    color: black;
    text-align: left;
    border: 2px dashed black;
    margin: 10px
}

.confirmed-value {
    font-style: italic;
}

.stackBuilder {
    text-align: center;
}
.stackBuilder input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.stack-desc-form p {
    margin-bottom: 20px
}
.stack-btn-container button {
    min-width: 150px;
}