.db {
    padding-top: 95px;
}
.db a {
    text-decoration: none;
    color: white;
}
.db-header { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    top: 50px;
    z-index: 2;
    position: fixed;
    width: 100%;
}
.db-version { 
    left: 10px;
}
.dashboard > div {
    margin-bottom: 40px
}
.social-feed {
    display: inline-block;
}
