.feedback {
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100%;
    z-index: 1001;
    color: #fff;
    padding-top: 15px;
}

.success {
    background-color: #1ab81a;
  
}
.error {
    background-color: red;
}