.form {
    display: table;
    margin: auto;
    position: relative;
    width: 100%;
}
.form input {
    display: table-cell;
}
form button:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.stack form input, textarea {
    display: table;
}
.nav-item {
    width: 100px;
    margin: 20px 0px 70px 0px;
    display: inline-block;
}