
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px 20px 0px 20px;
    grid-gap: 1em;
    grid-auto-rows: minmax(130px, auto);
}

@media screen and (max-width: 850px) {
    .grid {
        grid-template-columns: 1fr;
    }
}