.landing {
    height: 100vh;
    display: grid;
}
.landing li {
    list-style-type: none;
    margin: 0 0 25px 0px;
}
.landing button {
    min-width: 100px;
}
.landing .icon {
    margin-right: 20px;
}
.landing-left {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    grid-column: 1;
    color: #fff;
    background-color: #46b0f0;
}
.landing input, textarea {
    width: auto !important;
}
.landing-left div {
    margin-top: 250px;
}
.landing-left button {
    color: #46b0f0;
    font-weight: bold;
    background-color: #fff;
}
.landing-left p {
    border-top: 1px solid #444;
    border-bottom: 1px solid #444
}
.landing-left p span {
    font-family: monospace;
}
.landing-right {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    grid-column: 2;
}
.landing-right header {
    margin-top: 150px;
}

.landing-login {
    margin: 50px 0px 50px 0px;
}

.landing-signup {
    margin: 75px 0px 75px 0px; 
}
.landing-signup h3 {
    margin-bottom: 20px
}
#about-link {
    padding-top: 50px;
}


@media screen and (max-width: 850px) {
    .landing {
        height: auto;
        display: block;
    }
    .landing-left, .landing-right {
        width: 100%;
        float: left;
        position: static;
        top: auto;
        transform: none;
    }
    .landing-left div {
        margin-top: 100px;
    }
    .landing-right header {
        margin-top: 75px;
    }
}