.modal-content {
    min-width: 850px;
    margin-top: 75px;
    position: relative;
}

.modal-btn-container {
    margin-top: 30px;
    border-top: 1px solid #e6e9ec;
    padding-top: 15px;
    text-align: -webkit-auto;
}
.modal-btn-container button {
    width: 250px;
    display: block
}

.confirm-dialog {
    min-width: 215px;
    min-height: 200px;
    padding-top: 60px;
    text-align: center;
}
.confirm-dialog button {
    margin-left: auto;
    margin-right: auto;
}


.stack-container ul {
    list-style-type: none;
}

@media screen and (max-width: 850px) {
    .modal-content {
        min-width: 650px;
        min-height: 420px;
    }
    .modal-btn-container {
        position: static;
    }
}

@media screen and (max-width: 700px) {
    .modal-content {
        min-width: 250px;
        min-height: 420px;
    }
}