.modal {
    position: fixed;
    display: inline-flex;
    background: rgba(0, 0, 0, 0.5);
    align-items: baseline;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    padding: 1.2rem;
  }
  
.modal-main {
    position: relative;
    padding: 1.2rem;
    background: #f5f5f5;
    background-clip: padding-box;
    margin: 25px auto auto auto;
    max-width: 1150px;
}

.modal-header {
    position: absolute;
    top: 0px;
    width: 100%;
    right: 0;
    left: 0;
    background-color: #46b0f0;
    color: #f5f5f5;
    padding: 10px;
    font-weight: 100;
    font-style: italic;
    text-align: left;
    font-size: 25px
}

.modal-content {
    min-width: 850px;
    margin-top: 75px;
    position: relative;
}

.modal-btn-container {
    margin-top: 30px;
    border-top: 1px solid #e6e9ec;
    padding-top: 15px;
    text-align: -webkit-auto;
    float: right;
    display: flex;
}
.modal-btn-container button {
    width: 250px;
    display: block
}

.confirm-dialog {
    min-width: 215px;
    min-height: 200px;
    padding-top: 60px;
    text-align: center;
}
.confirm-dialog button {
    margin-left: auto;
    margin-right: auto;
}

.modal-level-1 {
    top: 0;
}
.modal-level-2 {
    top: 5%;
}
.modal-level-3 {
    top: 10%;
}

@media screen and (max-width: 850px) {
    .modal-content {
        min-width: 650px;
        min-height: 420px;
    }
    .modal-btn-container {
        position: static;
    }
}

@media screen and (max-width: 700px) {
    .modal-content {
        min-width: 250px;
        min-height: 420px;
    }
}
  
