.modal-content {
    min-width: 750px;
    min-height: 500px;
    position: relative;
}
#fork-stack-btn {
    right: 0;
}
.modal-btn-container {
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.modal-btn-container button {
    width: 100%;
}
.styles_overlayCenter__YHoO7 {
    background: rgba(0, 0, 0, 0.5);
    align-items: baseline;
}
.styles_modal__gNwvD {
    margin-top: 25px;
    border-top: 50px solid #46b0f0;
}

.styles_closeIcon__1QwbI {
    display: none;
}

.stack-container ul {
    list-style-type: none;
}

@media screen and (max-width: 850px) {
    .modal-content {
        min-width: 650px;
        min-height: 420px;
    }
    .modal-btn-container {
        position: static;
    }
}

@media screen and (max-width: 700px) {
    .modal-content {
        min-width: 250px;
        min-height: 420px;
    }
}