.modal-content {
    min-width: 750px;
    min-height: 500px;
    position: relative;
}
.modal-content button {
    margin: 2px;
}
#save-stack-btn {
    background-color: #49cf49;
}
#delete-stack-btn {
    background-color: red;
}
#fork-stack-btn {
    right: 0;
}
#publicize-stack-btn {
    background-color: #49cf49;
}
.stack-btn-container {
    position: absolute;
    bottom: 0
}
.styles_overlayCenter__YHoO7 {
    background: rgba(0, 0, 0, 0.5);
    align-items: baseline;
}
.styles_modal__gNwvD {
    margin-top: 25px;
}

.stack-container ul {
    list-style-type: none;
}

@media screen and (max-width: 850px) {
    .modal-content {
        min-width: 650px;
        min-height: 420px;
    }
}

@media screen and (max-width: 700px) {
    .modal-content {
        min-width: 250px;
        min-height: 420px;
    }
}