.nlm-cover {
    padding: 20px;
    position: relative;
    font-family: monospace;
}
.nlm-cover-text {
    vertical-align: -webkit-baseline-middle;
}
.view-abstract {
    position: absolute;
    top: 0;
    right: 2px
}