.landing-contents {
    padding-top: 100px;
}

.landing header {
    height: 100vh;
} /*     background-color: #e1e1e1b5; */

.landing-body {
    background-color: #46b0f0;
    color: #fff;
}

.landing-body section {
    width: 80%;
    margin: auto;
}

section p {
    max-width: 75%;
    margin: auto;
}

