.modal-content {
    min-width: 750px;
    min-height: 500px;
}
.styles_overlayCenter__YHoO7 {
    background: rgba(0, 0, 0, 0.30);
  }
@media screen and (max-width: 850px) {
    .modal-content {
        min-width: 250px;
        min-height: 250px;
    }
}