
nav {
    background-color: #444;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    z-index: 2;
}
  
nav ul li {
    list-style: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    float: right;
    margin: 0px 10px 0px 10px;
}

nav ul li:first-child {
    float: left;
    font-size: 35px;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 850px) {

}